.btn-group.type-filter
  %button.btn.btn-default All
  %button.btn.btn-default Won
  %button.btn.btn-default Lost
  %button.btn.btn-default Playing

%table.table.table-striped.hangman-table
  %thead
    %tr
      %th
      %th.filter(data-col="1")
        .filter_type State
        %span.pull-right.glyphicon.glyphicon-chevron-down
      %th Board
      %th.filter(data-col="3") Percent
      %th Misses
      %th Challenger
  %tbody
    - @hangmen.each do |game|
      %tr{ class: row_status_class(game) }
        %td
          - if game.finished?
            = link_to 'View', game, class: 'btn btn-default'
          - elsif show_play?(game)
            = link_to 'Play', game, class: 'btn btn-primary'
        %td= game.state
        %td= game.board
        %td= number_to_percentage(game.percent_completed, precision: 0)
        %td
          = "#{game.misses}/#{game.max_misses}"
          - if game.won?
            %span.label.label-success Won
          - elsif game.lost?
            %span.label.label-danger Lost
        %td= show_challenger(game) if game.challenged_user
    %tr
      %td{ colspan: 3 }
        = link_to 'New Game', hangmen_path, method: :post, class: 'btn btn-success btn-large'


